<h1>This is indian child Abdam: </h1>
<button (click)="this.callMehdi()">Call daddy Mehdi</button>

<form ngNativeValidate *ngIf="this.estadoCamello == 'Camello preparado jaja'">
    <div class="form-group">
        <label for="textoCamello">Send Brahmad camel message: </label>
        <input [(ngModel)]="this.mensaje" type="text" name="textoCamello" class="form-control" id="textoCamello"
            required>
    </div>
    <input type="submit" (click)="submitCamelMessage()" value="Ask Mehdi to send camel message to Brahmad">
</form>

<div class="" *ngIf="this.callingAbdam"> I am being called by daddy Mehdi (Parent to Child via @Input )</div>