<h1>This is indian father Mehdi </h1>
<button (click)="this.toggleCallingAbdam()">Call Abdam </button>
<div *ngIf="calledByAbdam"> I am being called by my child Abdam (Child to Parent via @Output and EventEmitter)</div>
<div *ngIf="this.estadoCamello == 'Abmad quiere mandar mensaje'">
    <div>Abdams message: {{ this.getCamellito().getCamelloMensaje()}}</div>
    <button (click)="approveCamelMessage()">Aprove Abdams camel message</button>
    <button (click)="denyCamelMessage()">Deny Abdams camel message</button>

</div>

<app-indian-child-abdam (abdamCallingMehdi)="toggleCalledByAbdam()" [callingAbdam]="this.callingAbdam">
</app-indian-child-abdam>